/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho e menus */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: inline-flex;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

/* Seções */
main {
    padding: 40px 20px;
}

section {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.disciplinas {
    display: flex;
    justify-content: space-around;
}

.item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.item h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 14px;
}
